@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&family=Oswald:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #7e997b;
    height: 4500px;
}

.centerBackground {
    position: absolute;
    height: 4550px;
    width: 75%;
    left: 50%;
    top: 40vh;
    transform: translate(-50%);
    background-image: linear-gradient(transparent 0% 0%, rgb(181, 187, 139, 0.95) 1% 100%);
    box-shadow: 6px 0 15px -4px rgba(0, 0, 0, 0.8), -6px 0 8px -4px rgba(0, 0, 0, 0.8);
}

.titleImageArea {
    position: fixed;
    top: 0;
    width: 75%;
    height: 45vh;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 3px 0 15px -4px rgba(0, 0, 0, 0.8), -3px 0 8px -4px rgba(0, 0, 0, 0.8);
}
.titleImage {
    height: 100%;
    width: 100%;
}

.titleImageOverBox {
    position: absolute;
    height: 300px;
    width: 55%;
    background-color: hsla(38, 69%, 49%, 0.95);
    top: -100px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 15px;
}
.arrow:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 50px hsla(38, 69%, 49%, 0.95);
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}
.arrowBlue:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 50px rgb(79, 130, 173, 0.5);
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}
.arrowBlueTop:after {
    content:'';
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-bottom: solid 50px rgb(79, 130, 173, 0.5);
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}
.titleBoxTitle {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    font-size: 60px;
    font-family: Oswald;
    white-space: nowrap;
}
.titleBoxText {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 25%;
    font-size: 35px;
    font-family: Edu TAS Beginner;
    white-space: nowrap;
}

.trenchesBackground {
    position: absolute;
    height: 1000px;
    width: 100%;
    top: 55vh;
    left: 0;
    background-image: url("images/trenches.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.trenchesTopLeft {
    position: absolute;
    left: 0;
    top: 0;
    height: 35%;
    width: 40%;
    background-color: rgb(79, 130, 173, 0.5);
    border-radius: 20px;
    margin: 1%
}
.trenchesBottomRight {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 68%;
    width: 35%;
    background-color: rgb(79, 130, 173, 0.5);
    border-radius: 20px;
    margin: 1%
}
.cardTitle {
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    margin: 1%;
    left: 50%;
    transform: translate(-50%);
    font-family: Oswald;
}
.cardTextSmaller {
    font-size: 1.05vw;
    position: absolute;
    width: 90%;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    font-family: Edu TAS Beginner;
}
.cardTextBig {
    font-size: 1.2vw;
    position: absolute;
    width: 90%;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    font-family: Edu TAS Beginner;
}


.tanksBackground {
    position: absolute;
    height: 1000px;
    width: 100%;
    top: 170vh;
    left: 0;
}
.tank {
    position: absolute;
    width :100%;
    top: 50%;
    transform: translateY(-50%);
    border-bottom: rgb(87, 42, 18) 5px solid;
}
.tanksTopLeft {
    position: absolute;
    font-size: 1.2vw;
    left: 0;
    top: 0;
    height: 30%;
    width: 70%;
    background-color: rgb(79, 130, 173, 0.5);
    border-radius: 20px;
    margin: 1%
}
.tanksBottomRight {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 30%;
    width: 70%;
    background-color: rgb(79, 130, 173, 0.5);
    border-radius: 20px;
    margin: 1%
}


.medicineBackground {
    position: absolute;
    height: 1000px;
    width: 100%;
    top: 280vh;
    left: 0;
}
.medicineText {
    position: absolute;
    left: 49%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 60%;
    background-color: rgb(79, 130, 173, 0.5);
    border-radius: 20px;
    margin: 1%
}
.medicineTopLeft {
    position: absolute;
    height: 30%;
    width: 25%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.medicineBottomRight {
    position: absolute;
    height: 30%;
    width: 25%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}


.poppyBackground {
    position: absolute;
    height: 1000px;
    width: 100%;
    top: 360vh;
}
.poppyText {
    position: absolute;
    left: 49%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 60%;
    margin: 1%;
    background-color: rgb(79, 130, 173, 0.5);
    border-radius: 20px;
    margin: 1%
}
.poppyTopLeft {
    position: absolute;
    height: 20%;
    width: 20%;
    top: 5%;
    left: 1%;
    animation: spin 15s linear infinite;
}
.poppyTopRight {
    position: absolute;
    height: 20%;
    width: 20%;
    top: 5%;
    right: 1%;
    animation: spin 15s linear infinite;
}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}